<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ECSHOP 管理中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="background: #278296;color:white">
<block name="form">
<form method="post" action="/Edit/doEdit">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">进店时间</td>
                <td>
                    <input type="text" name="date1" maxlength="60"/> <span class="require-field">*</span>
                </td>
            </tr>
            <empty name="id">
                <tr>
                    <td class="label">离店时间</td>
                    <td>
                        <input type="text" name="date2" maxlength="60"/> <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">餐厅</td>
                    <td>
                        <input type="text" name="eating" maxlength="60"/> <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">烤肉</td>
                    <td>
                        <input type="text" name="roast" maxlength="60"/> <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">茶楼</td>
                    <td>
                        <input type="text" name="tea" maxlength="60"/> <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">住宿</td>
                    <td>
                        <input type="text" name="sleep" maxlength="60"/> <span class="require-field">*</span>
                    </td>
                </tr>
            </empty>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>
